# Ignore build artifacts and IDE files
.DS_Store
/target
/dist/
.vscode

# Python virtual environments
.venv/
venv/
*.egg-info/

# Ignore output files from examples
examples/*.json
examples/__pycache__

# ignore bins
bins/
